* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #333;
  font-size: 1.1rem; }

a {
  color: #444;
  text-decoration: none;
  font-weight: lighter; }

ul {
  list-style-type: none; }

img {
  width: 100%; }

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem; }

.navbar {
  font-size: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 0;
  text-transform: uppercase;
  font-size: 0.9rem; }

.navbar .logo {
  font-weight: 300; }

.navbar .container {
  display: grid;
  grid-template-columns: 100px 1fr;
  border-bottom: 30px solid #006340;
  padding: 1rem; }

.navbar .nav {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.navbar .nav a {
  padding: 0 1.5rem;
  letter-spacing: 2px; }

.navbar .nav a:hover {
  opacity: 0.6; }

.toggle {
  display: none; }

@media (max-width: 768px) {
  .toggle {
    display: block;
    position: absolute;
    font-size: 1.5rem;
    top: 15px;
    right: 30px; }

  .navbar {
    padding-top: 0; }

  ul {
    width: 100%;
    margin: 0;
    padding: 0; }

  li {
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px;
    margin-right: 80px;
    display: none; }

  .navbar .nav li:nth-child(1) {
    margin-top: 50px; }

  .active {
    display: block; } }
/*
  showcase
*/
.showcase .container {
  background: #1f3933;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 550px;
  letter-spacing: 2px; }

.showcase .container img {
  width: 50%;
  margin: auto; }

.showcase .container > div {
  padding: 2rem; }

.showcase h1 {
  color: white;
  margin-bottom: 0.3rem;
  font-size: 1.8rem; }

.showcase p {
  color: white;
  font-size: 0.9rem; }

.showcase .btn {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem 1.4rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

.btn:hover {
  background: rgba(208, 208, 208, 0.2);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s; }

@media (max-width: 768px) {
  .showcase .container {
    grid-template-columns: 1fr;
    text-align: center; }

  .showcase .container div:first-child {
    order: 2; }

  .showcase .container div:last-child {
    order: -1; } }
.section-b .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 550px;
  letter-spacing: 2px; }

.section-b .container img {
  width: 50%;
  margin: auto; }

.section-b .container > div {
  padding: 2rem; }

.section-b h1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-transform: uppercase; }

.section-b p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem; }

.section-b .btn {
  color: #1f3933;
  border: 1px solid #1f3933;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem 1.4rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

.section-b .btn:hover {
  background: #1f3933;
  color: white; }

@media (max-width: 768px) {
  .section-b .container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem; }

  .section-b .container div:first-child {
    order: 2; }

  .section-b .container div:last-child {
    order: -1; } }
.section-c .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 550px;
  letter-spacing: 2px;
  background: #f9f9f9; }

.section-c .container img {
  width: 70%;
  margin: auto;
  padding-bottom: 5rem; }

.section-c .container > div {
  padding: 2rem; }

.section-c h1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-transform: uppercase; }

.section-c p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem; }

.section-c .btn {
  color: #1f3933;
  border: 1px solid #1f3933;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem 1.4rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

.section-c .btn:hover {
  background: #1f3933;
  color: white; }

@media (max-width: 768px) {
  .section-c .container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1rem; }

  .section-c .container div:first-child {
    order: 2; }

  .section-c .container div:last-child {
    order: -1; } }
.section-d .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 550px;
  letter-spacing: 2px; }

.section-d .container img {
  width: 50%;
  margin: auto; }

.section-d .container > div {
  padding: 2rem; }

.section-d h1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-transform: uppercase; }

.section-d p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem; }

.section-d .btn {
  color: #1f3933;
  border: 1px solid #1f3933;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem 1.4rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

.section-d .btn:hover {
  background: #1f3933;
  color: white; }

@media (max-width: 768px) {
  .section-d .container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem; }

  .section-d .container div:first-child {
    order: 2; }

  .section-d .container div:last-child {
    order: -1; } }
.info .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 5px solid white;
  min-height: 200px;
  background: #f9f9f9f9; }

.info .container .links {
  text-align: center; }

.info .container .links i {
  padding: 0 2rem;
  color: #444; }

.info .container .links i:hover {
  opacity: 0.5;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s; }

.info .container p {
  font-size: 0.9rem; }

.info .container .mail p {
  margin-bottom: 0.5rem; }

.info .container .mail input {
  width: 200px;
  padding: 0.5rem;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

.info .container .mail .btn {
  background: #333;
  color: white;
  font-size: 1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 5px;
  margin-left: 20px; }

.info .container .mail .btn:hover {
  opacity: 0.8; }

.info .container .privacy {
  font-size: 0.7rem; }

@media (max-width: 768px) {
  .info .container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem; }

  .info .container div:first-child {
    border-bottom: 1px solid black;
    padding-bottom: 1rem; }

  .info .container div:last-child {
    padding-top: 1rem; }

  .info .container .links i {
    font-size: 1.5rem;
    padding: 0 1rem; }

  .info .container .mail input {
    width: 100%;
    margin-bottom: 1rem; } }
.section-e .container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  padding: 2rem;
  grid-gap: 2rem;
  overflow: hidden;
  background: #f0f0f0;
  min-height: 250px; }

.section-e .container h4 {
  margin-bottom: 1rem; }

.section-e .container div > a {
  line-height: 2rem;
  font-size: 0.9rem;
  display: block; }

.section-e .container div > a:hover {
  opacity: 0.7; }

@media (max-width: 768px) {
  .section-e .container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem; } }
.footer .container {
  display: grid;
  grid-template-columns: 1fr;
  background: #f0f0f0;
  padding: 2rem; }

.footer .container i:hover {
  opacity: 0.7; }

.footer .container span {
  margin-left: 1rem; }

.footer .container p {
  font-size: 0.8rem;
  letter-spacing: 1.5px; }

@media (max-width: 768px) {
  .footer .container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem; } }

/*# sourceMappingURL=style.css.map */
