// main-header

.main-header {
}

.navbar {
  font-size: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 0;
}

.navbar .logo {
  font-weight: 300;
}

.navbar .container {
  display: grid;
  grid-template-columns: 100px 1fr;
  border-bottom: 30px solid #006340;
  padding: 1rem;
}

.navbar .nav {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navbar .nav a {
  padding: 0 1.5rem;
  letter-spacing: 2px;
}

.navbar .nav a:hover {
  opacity: 0.6;
}

// toggle styles
.toggle {
  display: none;
}

// mobile screen
@media (max-width: 768px) {
  .toggle {
    display: block;
    position: absolute;
    font-size: 1.5rem;
    top: 25px;
    right: 30px;
  }

  .navbar {
    padding-top: 0;
  }

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  li {
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px;
    margin-right: 60px;
    display: none;
  }

  .navbar .nav li:nth-child(1) {
    margin-top: 50px;
  }

  .active {
    display: block;
  }
}

// showcase styles
.showcase .container {
  background: #1f3933;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 550px;
  letter-spacing: 2px;
}

.showcase .container img {
  width: 50%;
  margin: auto;
}

.showcase .container > div {
  padding: 2rem;
}

.showcase h1 {
  color: white;
  margin-bottom: 0.3rem;
  font-size: 1.8rem;
}

.showcase p {
  color: white;
  font-size: 0.9rem;
}

.showcase .btn {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem 1.4rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn:hover {
  background: rgba(208, 208, 208, 0.2);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
