.last .container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  padding: 2rem;
  grid-gap: 2rem;
  overflow: hidden;
  background: #f0f0f0;
  min-height: 250px;
}

.last .container h4 {
  margin-bottom: 1rem;
}

.last .container div > a {
  line-height: 2rem;
  font-size: 0.9rem;
  display: block;
}

.last .container div > a:hover {
  opacity: 0.7;
}
